<div class="container">
	<div class="sectionpart">

		<div id="maincontent">
			<div id="provider-registration-page" class="complete">
				<span class="titleh1">Patient Sign Up - Complete</span>
				
				<!-- <h2><span class="titleh2">You're all set!</span></h2> -->
				<!-- <p>You can <a ui-sref="public.home" >Search</a> and book appointments for free!</p> -->
				<h2 class="titleh2">Thank you for signing up on Mdtree!</h2>
					<p>We sent you a confirmation email to activate your account.</p>

				<p>Please confirm your email address in order to start booking appointments on Mdtree.</p>
				<button class="okbutton" ui-sref="public.home">OK</button>
				
				<div class="push"></div>

			</div>
			
			<div class="push"></div>
		</div> <!-- end maincontent -->
		
		
	</div>	<!-- end wrapper -->
	</div>
</div>	