<div class="container">
	<div class="sectionpart paitentRegistertion">
		<div id="maincontent" ng-controller="patientreg">
			<div ng-show="alerts[0]">
				<div class="toppadding container" >
			        <div class="alertmessage col-sm-offset-3">
			          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" >{{alert.msg | capitalize}}.</alert>
			        </div>
		      	</div>
	      	</div>
			<div id="patient-registration-page"  class="registration-page">
				<span class="titleh1 splblock marginbottom">Patient Sign Up</span>
				<form id="form_patient_registration" style="background-image:none;"  class="col-sm-7" name="patientreg" ng-submit="submitform()">
					<label for="firstname">* First Name</label>
					<div class="form-group ">
	                    <input type="text" class="inputtext"   data-ng-model="firstName" required ng-blur="visitedfirstName = true" name="firstName">
	                 </div> 
	                <div class="space">
						<div ng-show="patientreg.firstName.$dirty &&  visitedfirstName" class="helpblock">
							<span class="help-block" ng-show="patientreg.firstName.$error.required">
								Your First Name is required.
							</span> 
						</div>
					</div>
					<label for="lastname">* Last Name</label>
					<div class="form-group ">
	                    <input type="text" class="inputtext"   data-ng-model="lastName" required  ng-blur="visitedlastName = true" name="lastName">
	                 </div> 
	                <div class="space">
						<div ng-show="patientreg.firstName.$dirty &&  visitedlastName" class="helpblock">
							<span class="help-block" ng-show="patientreg.lastName.$error.required">
								Your Last Name is required.
							</span> 
						</div>
					</div>

					<label for="zipcode">* Zip Code</label>
					<div class="form-group ">
	                    <input type="text" class="inputtext"   data-ng-model="zipCode" required ng-maxlength="5"  numbers-only="numbers-only"  ng-blur="visitedZipcode = true" ng-pattern="/^[0-9]{5}$/" ng-maxlength="5" name = "Zipcode"/>
	                 </div> 
					<div class="space">
						<div ng-show="patientreg.Zipcode.$dirty &&  visitedZipcode" class="helpblock">
							<span class="help-block" ng-show="patientreg.Zipcode.$error.required">
								Zip Code is required.</span> 
								<span  class="help-block" ng-show="patientreg.Zipcode.$error.maxlength">MaxLength is 5</span>
								<span class="help-block" ng-show="patientreg.Zipcode.$error.pattern">Not a valid Zip!</span>
							</span>
						</div>
					</div>


					<label for="dateofbirth" class="gender">Gender</label>
					<div>
					<span id="spantest" class="radio " ng-class="{selected:!boolChangeClass}" name="gender" target="gendermale" tabindex="4" ng-click="setGender('male')  "></span>
					<span for="gendermale" class="radioboxlabel">Male</span>

					<span class="radio"  name="gender" target="genderfemale" tabindex="5" ng-click="setGender('female') " ng-class="{selected:boolChangeClass}"></span>
					<span for="genderfemale" class="radioboxlabel" >Female</span>
					</div>


					<label for="dateofbirth">* Date of Birth</label>
					<div class="form-group datepicker">
	                     <!-- <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dob" is-open="opened"  max-date="dt" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)"/> -->
	                     <!-- <datetimepicker max-date="dob"   data-ng-model="dob" 	 date-format="MM-dd-yyyy" ></datetimepicker>  -->
	                     <input id="dp" type="text" ng-model="dob" name="mDate" class="inputtext datepicker"  my-datepicker ng-required readonly/>
	                     <!-- <input type="text" datepicker ng-model="myobj.myvalue" /> -->
	                 </div> 
	                 <div class="space">

	                 </div>
	                <label for="email">* Email</label>

	                <div class="form-group ">
						<input type="email" class="inputtext "   data-ng-model="email" required  ng-blur="visitedEmail = true ;focus=false;CheckEmailAddrress(email)"  name = "email" ng-focus="focus=true" >
					</div> 
					
					<div class="space">
						<div ng-show="patientreg.email.$dirty &&  visitedEmail && !focus" class="helpblock">
							<span class="help-block" ng-show="patientreg.email.$error.required">
								Email is required.</span> 
								<span ng-hide="focus"><span  class="help-block" ng-show="patientreg.email.$error.email">This is not a valid email</span></span>
								<span class="help-block" ng-show="!focus">
								{{errorMailAlready}}</span> 
							</span>
						</div>
					</div>

					<label for="email">* Phone Number</label>

					<div class="form-group ">
	                    <!-- <input type="text" class="inputtext"   data-ng-model="phone"  required placeholder="(xxx) xxx xxxx"> -->
	                    <phonenumber-directive  model='phone' required></phonenumber-directive>
	                 </div> 
	                 <div class="space"></div>
	                <label for="password">* Create a Password</label>
					<div class="form-group ">
	                    <input type="password" class="inputtext"   data-ng-model="password"  required name="password" ng-blur="visitedPassword = true" ng-minlength="6">
	                 </div> 
	                 <div class="space">
						<div ng-show="patientreg.password.$dirty &&  visitedPassword" class="helpblock">
							<span class="help-block" ng-show="patientreg.password.$error.required">
                                   Password is required</span> 
                            <span  class="help-block" ng-show="patientreg.password.$error.minlength">too short,Min length 6</span>
						</div>
					</div>


					<label for="repassword">* Re-type Password</label>
					<div class="form-group ">
	                    <input type="password" class="inputtext"   data-ng-model="repassword"  required name="confirmpassword" ng-blur="visitedConPassword = true" ng-minlength="6">
	                </div> 
	                <div class="space">
						<div ng-show="patientreg.confirmpassword.$dirty &&  visitedConPassword" class="helpblock">
							<span class="help-block" ng-show="patientreg.confirmpassword.$error.required">
                                   Confirm Password is required</span> 
                            <span  class="help-block" ng-show="password != repassword">Password not match</span>
                            <span  class="help-block" ng-show="patientreg.confirmpassword.$error.minlength">too short,Min length 6</span>
						</div>
					</div>


					<label for="selecttype">* Question</label>
                    <div class="form-group ">
                    	<select class="inputtext selecttype"  required ng-model="questions.select" ng-options="obj.key as obj.id for obj in questions.options">
							<option value="">Select questions</option>
						</select>
                    	
                    </div> 



                    <div class="space"></div>
                    <label for="selecttype">* Answer</label>
                    <div class="form-group ">
                    	<input type="password" class="inputtext"   data-ng-model="answer"  required ng-blur="visitedanswer = true" name="answer">
                    </div>
                    
					<div class="space">
						<div ng-show="patientreg.answer.$dirty &&  visitedanswer" class="helpblock">
							<span class="help-block" ng-show="patientreg.answer.$error.required">
								Security answer is required.
							</span>
						</div>
					</div>

					<div class="">
						<input type="checkbox" id="terms" name="terms" value="termsaccepted" />
						<span class="checkbox col-sm-4 paddingZero" name="terms" target="terms" tabindex="10" ng-class="{selected:selected}" ng-click = " selected = !selected"></span><span class="terms col-sm-4 paddingZero">&nbsp;I have read and accepted the <a ui-sref="public.termsandCondition" target="_blank">terms and conditions</a>.</span>
					</div>
					
					<label for="selecttype" class="DisplayTermMessageError help-block">{{DisplayTermMessageError}}</label>
					<button class="savebutton" type="submit" ng-disabled="!selected || errorMailAlready || password != repassword || patientreg.$invalid"  ng-hide="!selected  ">SAVE</button>
					<div class="savebutton"  ng-show="!selected" ng-click="displayTermMessage()" ng-disabled=" patientreg.$invalid">SAVE</div>
				</form>

				<!-- <a href="http://direct.enhancedcaremd.com/"><img src="images/ad.png" class="col-sm-5 addImage" ></a> -->
				<div class="push"></div>
			</div>
		</div>
	</div>

</div>	