<div class="container">
	<div class="sectionpart">
		<div id="maincontent" ng-controller="providerController" class="providerRegister">

			
			<form id="form_provider_registration"  name="providerReg" novalidate="">	
				
					<div ui-view></div>

				<div ng-show="alerts[0]">
					<div class="toppadding container" >
				        <div class="alertmessage ">
				          <alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg | capitalize}}.</alert>
				        </div>
			      	</div>
		      	</div>
			</form>
			
		</div>
	</div>
</div>