<div class="backgroundwhiteHome" ng-controller="forget_password_controller">
    <div class="container">
        	
        <div id="registrationhome" >
           	<div class="patient-provider-optionbox" class="col-sm-6">
            	<h1><span class="titleh1">Reset Password</span></h1>
            	<!-- <p class="error_text">Your user ID or password is incorrect.
												Please try again.</p> -->
				<p class="error_text" ng-hide="questionCorret">
					<span ng-hide="serverError">Provide the following information and we'll send you instructions to unblock your account. </span>
					<span ng-show="serverError">{{serverError}}</span>
				</p>
				<p class="error_text" >
					
					<span ng-show="serverError">Get in Touch with our customer support page</span>
				</p>
				<p class="error_text" ng-show="questionCorret">Your temporary password sent to your email address. Check and use temporary to login.</p>
	            <form id="utilities-login" ng-submit="changepassword()" ng-hide="questionCorret">
					<ul>
						<div class="form-group ">
							<label>User Name</label> 
	                    	<input type="text" class="inputtext"   data-ng-model="username" required>
	                	</div> 
							
						<div class="form-group">
							<label>&nbsp;&nbsp;&nbsp; Question</label>
							<select class="inputtext" required ng-model="question" ng-options="obj.key as obj.id for obj in questions.options">
								<option value="">Select Question</option>
							</select>
						</div>
						<!-- <div class="form-group ">
							<label class="col-sm-2 col-sm-offset-4">Question</label> 
	                    	<select class="form-control inputtext col-sm-6"  required ng-model="form.category" ng-options="obj.id as obj.id for obj in questions.options">
								<option value="">Select Question</option>
							</select>
	                	</div>  -->

	                	<div class="form-group ">
							<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Answer</label> 
	                    	<input type="password" class="inputtext"   data-ng-model="answer" required>
	                	</div>
						
						<button class="loginbutton forgetpassword" type="submit">GET NEW PASSWORD >></button>
					</ul>
				</form>
            </div>
         </div>
     </div>
 </div>

