
<div class="backgroundwhiteHome" ng-controller="tempPasswordController">
    <div class="container">
        	
        <div id="registrationhome" class="temppass">
           	<div class="patient-provider-optionbox" class="col-sm-6">
            	<h1><span class="titleh1">Reset Password</span></h1>
            	<p class="error_text" ng-hide="serverError">Your temporary password sent to your email address. Check and use temporary to Change Password.</p> 
            	<p class="error_text" ng-show="serverError">{{serverError}}</p> 
	            <form id="utilities-login" ng-submit="changepassword()" ng-hide="form.questionCorret" name="changepass">
					<ul>
						<div class="form-group ">
							<label>&nbsp;&nbsp;Temporary Password</label> 
	                    	<input type="password" class="inputtext"   data-ng-model="temppass" required>
	                	</div> 
							
						<div class="form-group">
							<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp  New Password</label>
							<input type="password" class="inputtext"   data-ng-model="password" required name="password" ng-blur="visitedPassword = true" ng-minlength="6">
						</div>
						<div class="space">
						<div ng-show="changepass.password.$dirty &&  visitedPassword" class="helpblock">
							<span class="help-block" ng-show="changepass.password.$error.required">
								Password is required</span> 
								<span  class="help-block" ng-show="changepass.password.$error.minlength">too short,Min length 6</span>
							</div>
							

						</div>

	                	<div class="form-group ">
							<label> Repeat New Password</label> 
	                    	<input type="password" class="inputtext"   data-ng-model="repassword" required name="confirmpassword" ng-blur="visitedConPassword = true" ng-minlength="6">
	                	</div>
	                	<div class="space">
							<div ng-show="changepass.confirmpassword.$dirty &&  visitedConPassword" class="helpblock">
								<span class="help-block" ng-show="changepass.confirmpassword.$error.required">
									Confirm Password is required</span> 
									<span  class="help-block" ng-show="password != repassword" >Password not match</span>

									<div ng-hide="form.password != repassword">
										<span  class="help-block"  ng-show="changepass.confirmpassword.$error.minlength" >too short,Min length 6</span>
									</div>
							</div>
						</div>
						
						<button class="loginbutton forgetpassword" type="submit" ng-disabled="changepass.$invalid | password != repassword">Change Password >></button>
					</ul>
				</form>
            </div>
         </div>
     </div>
 </div>
