<div class="container">
	<div class="row ">
		<div class=" aboutus ">
			<div class="col-sm-offset-1">
				<h1 class="col-sm-8">What started out with one frustrated patient grew into <a ui-sref="public.home"><span>MDtree.com</span></a></h1>
				<span class=" col-sm-5  paddingZero headedbox halfsize marginTop">
					<h2>Patients</h2>
					<ul>
						<li>Find a provider online 24 hours a day </li>
						<li>Free 24-hour online booking platform</li>
						<li>Access vital information about your provider</li>
						<li>Automated reminders</li>
						<li>Take advantage of special offers</li>
						<li>Easy <a ui-sref="anon.patient-registration1">sign up</a></li>
					</ul>
				</span>
				 
				<section class=" col-sm-5 paddingZero headedbox halfsize marginTop">
					<h2>Providers</h2>
					<ul>
						<li>Increase your online presence</li>
						<li>24-hour online booking platform</li>
						<li>Robust provider dashboard</li>
						<li>Create special offers</li>
						<li>Easy <a ui-sref="anon.provider-registrationform">sign up</a></li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</div>

			
	
	
	