<div class="container ">
	<div class="sectionpart">
		<div id="maincontent" >
			<div class="row">
				<div class="col-sm-4 col-md-4 col-lg-3">
					<div class="row">
						<div class="first_col  col-xs-48">
							
							<ul class="nav" >
								<li ><a ui-sref="public.home">Home</a></li>
								<li  ui-sref-active="active" ui-sref=".howitsWork"><a href="">How it Works</a></li>
								<li  ui-sref-active="active" ui-sref=".howtoSave"><a href="">How To Save On Healthcare</a></li>
								<li  ui-sref-active="active" ui-sref=".Providers"><a href="">Providers</a></li>
								<li  ui-sref-active="active" ui-sref=".aboutus"><a href="">About Us</a></li>
								<li ui-sref-active="active" ui-sref=".team"><a href="">Team</a></li>
								<li  ui-sref-active="active" ui-sref=".contact"><a href="">Contact Us</a></li>
								<li  ui-sref-active="active" ui-sref=".termsofuse"><a href="">Terms Of Use</a></li>
								<li  ui-sref-active="active" ui-sref=".privacypolicy"><a href="">Privacy Policy</a></li>
								<li  ui-sref-active="active" ui-sref=".mdtreetv"><a href="">MDtreeTV</a></li>
							</ul>
						</div>
					</div>
					
				</div>
				<div ui-view></div>
			</div>
		</div>
	</div>
</div>