<div id="maincontent">
    <div class="termsofuse howtosave col-lg-9">

        <h1 class="fav">Reduce your healthcare costs with confidence</h1>
        <!-- <h2>Acceptance of Terms of Use</h2> -->
        <p>For most people, health insurance premiums are their largest healthcare expense; and the costs keep going up outside of our control. With enhancedcare's Smart Choices you can buy a lower premium, higher deductible plan and have the comfort of knowing you have more healthcare options and saving available if you need care later on. Pay less now and pay less later! A winning forrmula!</p>
        
        <a href="http://smartchoices.enhancedcaremd.com/" target="_blank"><button class="findnowbutton btn btn-lg col-sm-offset-5"   >Learn More</button></a>


     </div>

     <div class="push"></div>
 </div> 
