<div class="container">
	<div class="row">
		<div class="col-sm-48 ProvidersStatic ">
			
			<div class="col-sm-7">

					<h1>Increase online presence and build your patient base!</h1>

				<div class="roundedBox">
					<div class="col-sm-11 marginLeft"><span >MDtree helps providers increase their online presence, build their patient base and	practice telehealth.	</span></div>
						
					<li class="marginLeft col-sm-8">24-hour online scheduling platform </li>
					<li class="marginLeft col-sm-8">Telehealth platform </li>
					<li class="marginLeft col-sm-8">Create and promote special offers</li>
					<button class="findnowbutton btn btn-lg JoinNow" ui-sref="anon.provider-registrationform" >JOIN NOW</button>
				</div>
			</div>
		</div>
	</div>
</div>