<div id="maincontent">
    <div class="team col-lg-9 col-md-9">
        <h1>Proper growth requires teamwork.
        <span>Meet the team at MDtree.</span></h1>
        <ul class="alternating_list">
            <li><h3>Jerry J. Deluccio, <span class="jobtitle">  CEO </span></h3></li>
            <li class="white"><h3>Leroy B. Pascal, <span class="jobtitle">MD</span></h3></li>
            <li><h3>Richard M. Popovic, <span class="jobtitle">President</span></h3></li>
        </ul>
    </div>
    <div class="push"></div>
</div> 
