
<div class="container">
	<div class="row">
		<div class="col-sm-47  HowItsWork sectionpart">
			<div class="col-sm-offset-1 ">
				<div class="col-sm-6">
					
					<h1 class="">How It Works</h1>
					<h4 class="">For Patients</h4>
					<h6 class="">To get started simply:</h6>
					<ul class="liststyle">
						<li>Select a category</li>
						<li>Choose a specialty</li>
						<li>Enter your zip code or city/state</li>
						<li>Start your search, <span class="itsFree">It's free</span></li>
						
					</ul>
					
				</div>
				<div class="col-sm-5">
					<img src="images/modelweb.png" class="modelweb">
				</div>
				<div class="">
					<h4 >For Providers</h4>	

					<p >Mdtree	helps	providers	with	the	following:</p>
					<ul class="liststyle">
						<li>Increase online	presence</li>
						<li>Build patient base</li>
						<li>Practice telehealth</li>
												
					</ul>
					 <button class="findnowbutton btn btn-lg JoinNow" ui-sref="anon.provider-registrationform" >JOIN NOW</button>
					<div class="col-sm-48 heightbase">
						<h4 class="itsFree col-sm-6">Watch the Provider Demo Video to Learn More
							<br><button class="findnowbutton btn btn-lg providerDemo"  ng-click="ViewProviderDemo = !ViewProviderDemo" ng-hide="ViewProviderDemo">Provider Demo</button>
						</h4>
						
						<div class="col-sm-6" >
							<embed width="400" height="315" src="//www.youtube.com/embed/8r7aKSRRwEM" ng-show="ViewProviderDemo">
								<div class="closebutton" ng-click="ViewProviderDemo = !ViewProviderDemo" ng-show="ViewProviderDemo">X</div>
						</div>
					</div>
					

					
				</div>
			</div>
		</div>
	</div>
</div>
