<div class="container">
	<div class="row">
		<div class=" howToSave sectionpart">
			
			<div class="col-sm-offset-1 ">
				
				<h1>Receive quicker and easier access to Providers!</h1>

				<p class="col-sm-11">Mdtree helps you find a provider online 24 hours a day. Also, if you are too busy to go to a doctor's office, you are able to see and talk to a doctor from the comfort of your home or office.</p>

				<h1 class="col-sm-12 itsFree">	<i class="fa fa-arrow-right"></i><a ui-sref="anon.provider-registrationform" class="itsFree">&nbsp;&nbsp;Sign Up Now</a></h1>
				<li>Gain access to our free 24-hour online booking platform</li>
				<li>Learn vital information about our providers</li>
				<li>Save on special offers</li>
				
				<a href="http://smartchoices.enhancedcaremd.com/" target="_blank"><img src="images/howTosave.png " class="col-sm-offset-3"></a>
				
			</div>
		</div>
	</div>
</div>