<div class="container">
	<div class="row">
		<div class="col-sm-48 ProvidersStatic sctionpart">
			
			<div class="col-sm-offset-1">
				<h1>Increase online presence and build your patient base!</h1>

				
				<div class="col-sm-35 marginLeft"><span class="col-sm-35">Mdtree helps providers increase their online presence, build their patient base and	practice telehealth.	</span></div>
					
				<li class="marginLeft">24-hour online scheduling platform </li>
				<li class="marginLeft">Telehealth platform </li>
				<li class="marginLeft">Create and promote special offers</li>
				<button class="findnowbutton btn btn-lg JoinNow" ui-sref="anon.provider-registrationform" >JOIN NOW</button>
			</div>
		</div>
	</div>
</div>